nvim () {
  if [ ! $# -eq 0 ]; then
    [[ -d "$1" ]] || [[ -f "$1" ]] || touch "$1"
    [[ -f "$1" ]] && NWD="$(dirname $1)" || NWD="$(realpath $1)"
    docker run -it --rm --name AstroNvimCLI \
    -w "/edit$NWD" \
    -v "$(realpath $1)":"/edit$(realpath $1)" \
    -v /mnt/user/appdata/astronvim:/root \
    ghcr.io/lanjelin/astronvim-docker:latest \
    nvim "/edit$(realpath $1)"
  else
    docker run -it --rm --name AstroNvimCLI \
    -w "/root" \
    -v /mnt/user/appdata/astronvim:/root \
    ghcr.io/lanjelin/astronvim-docker:latest \
    nvim
  fi
}
